body {
    background-color: rgb(125, 206, 243) !important; 
}

#title {
    margin-top: 2em;
}

#input-zip {
    margin-top: 1em;
    border-radius: .25em;
    text-align: center;
    
}

input:focus::placeholder {
  color: transparent;
}

#input-zip::placeholder {
    text-align: center;
    
}

.btn {
    margin: 2em auto;
    border-radius: .25em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}