body {
    background-color: rgb(125, 206, 243) !important; 
}



#title {
    margin-top: 2em;
}

#input-zip {
    margin-top: 1em;
    border-radius: .2em;
}

.btn {
    margin: 2em auto;
}

#input-zip::placeholder {
    text-align: center;
    color: darkgreen;
}
