body {
    background-color: cyan;
}

caption {
    caption-side: top;
}

td, th {
    text-align: center;
    vertical-align: middle;
}

.table > tbody > tr >td {
    vertical-align: middle;
}

.btn {
    margin: 2em 1em 2em 0;
}

#title {
    margin-top: 2em;
}

#input-zip {
    margin-top: 1em;
}

#input-zip::placeholder {
    text-align: center;
    color: darkgreen;
}
